<div class="row">

	<div class="col-md-8">
		<h1 class="text-center">Category: {{category}}</h1>
		{{#each wedding}}
		<div class="events-container">
			<h3>Wedding Between {{this.names.bride}}(Bride) AND {{this.names.groom}}(Groom)</h1>
			<h3>Booking Name: {{this.names.bookingName}}</h3>
			<h3>Event Venue: {{this.venue}}</h3>
			<h3>Phone: {{this.phone}}</h3>
			<p><strong>Booking Date: {{this.bookingDate}}</strong></p>
			<p><strong>Event Date: {{this.eventDate}}</strong></p>
			<div class="row">
				<a href="/edit/booking/{{wedding.id}}"><button class="btn btn-default">Edit</button></a>
				<a href="#"><button class="btn btn-danger">Delete</button></a>
			</div>
		</div>
		{{/each}}
	</div>

	<div class="col-md-4">
		<h1 class="text-center">New Booking</h1>
		<form action="/wedding/booking" method="POST">
			<div class="form-group row">	
				<label>Booking Name</label>
				<input class="form-control" type="text" name="bookingName">
			</div>
			<div class="form-group row">	
				<label>Groom Name</label>
				<input class="form-control" type="text" name="groom">
			</div>
			<div class="form-group row">	
				<label>Bride Name</label>
				<input class="form-control" type="text" name="bride">
			</div>
			<div class="form-group row">	
				<label>Event Venue</label>
				<input class="form-control" type="text" name="venue">
			</div>
			<div class="form-group row">	
				<label>Phone Number</label>
				<input class="form-control" type="tel" maxlength="11" name="phone">
			</div>
			<div class="form-group row">	
				<label>Event Date</label>
				<input class="form-control" type="date" name="eventDate">
			</div>
			<div class="form-group row">	
				<label>Booking Date</label>
				<input class="form-control" type="date" name="bookingDate">
			</div>
			<div class="form-group row">	
				<input type="submit" value="Submit" class="btn btn-primary btn-block">
			</div>
			
		</form>
	</div>
</div>